*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main_box{
display: grid;
place-items: center;
gap :200px;
}

.option{
    display: flex; 
    flex-direction: column;
    margin:20px;
    font-size: 25px;
    
    /* padding: 20px; */
    /* flex-direction: column; */
}

button{
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 20px;
}
